In [2]:
# 단축키
# shift + enter = 실행 후 다음cell
# control + enter = 실행 후 기존cell
1+1

2

In [4]:
3+4

7

In [5]:
# 변수는 무조건 앞이 변수 뒤가 값
name = "홍길동" # name이 변수 홍길동이 값
              # name란 메모리가 없으면 생성, 있으면 값 대체

In [7]:
print(name) # ()안의 값을 출력

홍길동

In [8]:
age = 25

In [10]:
print(age)

25

In [11]:
age = 50 # age의 값을 50으로 대체

In [13]:
print(age)

50

In [14]:
age = age + 20 # 1. 기존 변수가 가진 값 더하기 20
               # 2. 1에서 처리한 값을 age 변수의 값으로 할당

In [16]:
print(age)

70

In [2]:
num=.345

In [12]:
print(num)

0.345

In [ ]:
# 비교연산자
# + = 더하기
# - = 빼기
# * = 곱하기
# ** = 제곱
# / = 나누기
# //= 몫
# % = 나머지

In [8]:
# e10 = 10의 10제곱
# e-10= 10의 -10제곱

In [ ]:
# ==같다
# !=같지않다
# >크다
# >=크거나같다
# <작다
# <=작거나같다

# 문자는 알파벳순서로 생각 (사전적 배열)
# 모르면 ord()함수 사용 (문자를 숫자로 변환)
# 특수문자 < 숫자 < 영문자 < 한글

In [13]:
# control + / = 주석처리
# bool함수는 다른타입의 값을 논리형으로 변환

In [14]:
# 괄호처리는 블록처리하고 여는괄호만 치면됨

In [17]:
print('abc'<'bcd')

True

In [18]:
# 논리연산자
# and(&) 연산자는 두값이 모두 True이면 True 나머지 False
# or(|) 연산자는 한값만이라도 True이면 True 나머지 False
# ^ 연산자는 두값이 다르면 True 나머지 False
# not 연산자는 True를 False, False를 True

In [20]:
# 조건연산자(삼항연산자)
# 조건식이 True면 value 1, False면 value 2
num = 10
var = '양수' if num>=0 else '음수'
print(var)

양수

In [26]:
a = len('홍길동')
type(a)

int

In [29]:
addr= "서울시 서초구 구로동"
var = '있음' if '구로구' in addr else '없음'
print(var)

없음

In [32]:
# print('abc', end='') #end는 출력할 값 뒤의 값을 변경한다 (기본:엔터)
print('abc', end='')
print('def')

abcdef

In [39]:
# 인덱싱
# 인덱싱으로는 문자변경 불가
# s.index()는 문자 기준으로 인덱스 검색
s = '안녕하세요. 반갑습니다'
print(s)
print(s[0])
print(s[-2])
s[0]=='안'

안녕하세요. 반갑습니다
안
니

True

In [40]:
# 슬라이싱
# 문자열 [시작index : 종료index : 간격]
# 0번 인덱스부터 조회시 시작index 생략가능 [:5]
# 마지막 인덱스까지 조회시 종료index 생략가능 [2:0]
# 종료index는 포함하지 않는다
# 간격은 생략시 1이 기본
# 간격을 음수로 주면 역으로 반환

In [42]:
s='Hello World'
s[3:-1:2]

'l ol'

In [44]:
# 포메팅
# 같은 문자열에 값만 바뀌어 반복되는 경우 미리 레이아웃을 만들어 값을 나중에 대입하는 함수
# format()
# {} = 나중에 들어갈 값
# {0} = 첫번째 들어갈 값 (동일한 값을 여러번 넣어야 할 경우)

In [2]:
info_format = '이름 : {} \n나이 : {}세 \n주소 : {}'
name1, age1, addr1 = "홍길동", 10, "서울시"

info1 = info_format.format('강희돈',27,'서울시구로구')
print(info1)

이름 : 강희돈
나이 : 27세
주소 : 서울시구로구

In [4]:
# {name} : 괄호의 이름지정 값전달시 괄호이름=값
print("이름 : {name} \n나이 : {age}세 \n주소 : {addr}".format(name=name1,age=age1,addr=addr1))

이름 : 홍길동
나이 : 10세
주소 : 서울시

In [10]:
# 형식문자를 사용한 formatting
# %s = 문자열, %d = 정수, %f = 실수

name, age, weight="홍길동", 23, 72.7
info="이름: %s, 나이: %d, 몸무게: %.2f" %(name, age, weight)
print(info)

이름: 홍길동, 나이: 23, 몸무게: 72.70

In [14]:
# f-string
# {변수명:정렬 정밀도 타입} .format()함수도 동일하게 사용가능
# <:왼쪽 정렬, >:오른쪽 정렬, ^:가운데정렬
# 실수형일 경우 최소 자리수를 지정한다. 값이 최소자리수보다 작으면 공백으로 채움
# d:정수, f:실수, s:문자열
name, age, weight="홍길동", 23, 72.7
print(f"이름:{name}, 나이:{age}, 몸무게:{weight}")

이름:홍길동, 나이:23, 몸무게:72.7

In [21]:
print(f"이름:{name:<2}, 나이:{age}, 몸무게:{weight:.2f}")

이름:홍길동, 나이:23, 몸무게:72.70

In [25]:
# .split(나눌 기준)
s="사과|배|귤|딸기|거봉"
s.split('|')[3]

'딸기'

In [27]:
# .strip(), .lstrip(), .rstrip()
s2="   거봉    "
s2.strip()

'거봉'

In [30]:
# .replace(바꿀것, 새것)
s3 = "abcabcabc"
s3.replace('ab','가')

'가c가c가c'

In [33]:
# .count(찾을것)
s3.count('a')

3

In [ ]:
# .index(몇번째 인덱스인지 궁금한 것), .find()
# 첫번째 찾은것만 반환
# index는 없으면 에러, find는 없으면 -1

In [ ]:
# .upper() 대문자로 변환할것, .lower() 소문자로 변환할것

In [ ]:
# .startwith("문자열") 문자열로 시작되는지 True 또는 False
# .endwith("문자열") 문자열로 끝나는지 True 또는 False
# 중간에 있는거 찾는거는 in,not in으로

In [8]:
# 타입변환
# 사용자로부터 값을 입력받을 수 있다 입력받은 값을 str으로 반환
# int(값) 실수의 경우 소수정 이하를 버린다
# float(값) 정수.0으로 변환

In [11]:
num1=input("num1: ")

num1: 30

In [12]:
num2=input("num2: ")

num2: 40

In [13]:
int(num1)+int(num2)

70

In [1]:
#1. 주민번호 "901211-1027213"의 앞 6자리만 조회해서 출력하시오.
a1="901211-1027213"
print(a1[:6])

901211

In [2]:
#2. "안녕하세요" 를 10번 출력하시오.
a2="안녕하세요"
print(a2*10)

안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요

In [3]:
#3. 다음 문자열의 글자수를 출력하시오.
a3="akdlclkdkdlelql39du7마구0ㅌ" 
print(len(a3))

24

In [15]:
#4.
name="TV"
price=300000
maker = "LG"
# 위 변수의 값을 다음과 같은 형태로 출력하시오.
#"제품명 : TV, 가격 : 300000, 제조사 : LG"
print(f"제품명 : {name}, 가격 : {price}, 제조사 : {maker}")

제품명 : TV, 가격 : 300000, 제조사 : LG

In [17]:
#5
fruits = "사과 복숭아 귤 배"
print("있음" if '수박' in fruits else "없음")
# 위 fruits에 "수박"이 있는지 확인하는 코드를 작성하시오.

없음

In [10]:
#6 
str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"
print(str_value.count('a'))
# str_value 문자열안에 a가 몇개 있는지 출력하시오.

9