# 마크다운
- ***셀 변환***
    1. m: code cell에서 markdown cell로 변환
    2. y: markdown cell에서 code cell로 변환

# 자료구조
- 리스트
    - 순서가 있다
    - 변동이 가능하다 (대입연산)
    - slicing을 이용하여 지정한 범위의 원소를 한번에 변경 및 삭제 가능
    - 한개의 원소 삭제는 del함수 사용
    - a_list=[값,값,값,...]
    - 없는 index 조회시 에러발생
    - 리스트를 포함한 자료구조도 값이다 (리스트 안에 리스트 넣는것도 가능)
    - 리스트 + 리스트 = 두 리스트를 합친 새로운 리스트 반환
    - 리스트 * 정수 = 리스트를 정수만큼 반복한 리스트 반환
    - 값 in 리스트, 값 not in 리스트 = 리스트안에 값이 있는지 True 또는 False로 반환
    - 리스트 대입 : 여러개의 변수에 리스트의 값을 한번에 대입 (a,b,c = [1, 2, 3])
- 튜플
    - 순서가 있다
    - 변동이 불가능하다
    - a_turple=(1,2,3)
    - () 생략가능
    - 원소 뒤에는 반드시 ,가 들어가야된다
    - 튜플 대입법
- 딕셔너리
    - 키와 값을 쌍으로 가지고 있는 구조
    - index의 역할을 하는 키를 지정하고 생성
    - a_dict={키:값 키:값 키:값}
- 세트
    - 중복 불가능
    - a_set{값, 값, 값}
    - 인덱싱 슬라이싱 사용 불가
    - set()함수를 사용해서 다른 자료구조를 세트로 변경가능(딕셔너리는 키값만 모임)
    - 합집합, 교집합, 차집합 연산 가능
    - True는 1, False는 0으로 취급한다
    - set은 원소 하나만 조회는 불가능

In [5]:
l1=[1,2,3]
l2=[10, 20, 30]
l1+l2

[1, 2, 3, 10, 20, 30]

In [9]:
l3 = l2*3
l3

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [11]:
l1 = [1,2,3,4,5,6]

In [12]:
t1=100,

In [14]:
type(t1)

tuple

In [18]:
person1 = {"name":"홍길동", "age":20, "adress":"서울"}

In [27]:
person2 =  {"age":30, "name":"이순신", "adress":"서울"}

In [28]:
person2

{'age': 30, 'name': '이순신', 'adress': '서울'}

In [29]:
person1['name'], person2['name']

('홍길동', '이순신')

In [31]:
person2['adress'], person1['adress']

('서울', '서울')

In [33]:
person1['name'] = '박철웅'

In [35]:
person1['tel'] = '010-2222-3333'

In [44]:
print(person2.get('email','이메일 없음'))

이메일 없음

In [46]:
len(person1)

4

In [49]:
'name' in person1

True

In [53]:
print(person1.items())

dict_items([('name', '박철웅'), ('age', 20), ('adress', '서울')])

In [57]:
print(person1.keys())

dict_keys(['name', 'age', 'adress'])

In [65]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5}
s3 = s1|s2
s4 = s1.union(s2)
print(s3)
print(s4)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [66]:
s5 = s1 & s2
s6 = s1.intersection(s2)
print(s5)
print(s6)

{3, 4}
{3, 4}

In [68]:
s7 = s1 - s2
s8 = s1.difference(s2)
print(s7)
print(s8)

{1, 2}
{1, 2}

In [71]:
s3.add(10)
print(s3)

{1, 2, 3, 4, 5, 10}

In [73]:
s3.update([1,2,3,100,200,300])
print(s3)

{1, 2, 3, 4, 5, 200, 10, 100, 300}

In [75]:
v=s3.pop()
print(v)
s3

2

{3, 4, 5, 10, 100, 200, 300}

In [77]:
s3.remove(5)
print(s3)

KeyError: 5

### 자료구조변환 함수
    - list() : list로 변환
    - tuple() : tuple로 변환
    - set() : set으로 변환
    - 딕셔너리로 변환하는 함수는 없음
    - 변경할 대상 자료구조가 딕셔너리일 경우 key값만 모아서 반환

In [81]:
t1 = tuple([1, 3, 10, 20, 11])
t1

(1, 3, 10, 20, 11)

In [82]:
d1 = {'a':10, 'b':20, 'c':30}

In [83]:
set(d1)

{'a', 'b', 'c'}

In [86]:
# dict(key = value, ket = value) #딕셔너리를 만들기 쉽게하는 함수
di= dict(name='홍길동', age=20, address='부산')
di

{'name': '홍길동', 'age': 20, 'address': '부산'}

In [123]:
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85] 

# 위는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다. (문제 1 ~ 7)
#(1)  7번의 점수를 출력하세요 
print(jumsu[6])

80

In [124]:
#(2)  1번부터 5번까지의 점수를 출력하세요.
print(jumsu[0:5])

[100, 90, 100, 80, 70]

In [125]:
#(3)  4, 5, 6, 7번의 점수를 출력하세요.
print(jumsu[3:7])

[80, 70, 100, 80]

In [126]:
#(4) 짝수번째 점수를 출력하세요.
print(jumsu[1::2])

[90, 80, 100, 90, 85]

In [127]:
#(5) 홀수번째 점수를 출력하세요.
print(jumsu[::2])

[100, 100, 70, 80, 95]

In [128]:
#(6) 9번의 점수를 20으로 변경하고 전체 출력하세요.
jumsu[8] = 20
print(jumsu)

[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [103]:
#(7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.
print(set(jumsu))

{100, 70, 80, 20, 85, 90}

In [106]:
# 문제 8 ~ 9
fruits = ["복숭아", "수박", "딸기"]

In [109]:
#(8) fruits 리스트에 마지막 원소로 "사과", "귤"을 추가하세요.
fruits.append("사과")
fruits.append("귤")
print(fruits)

['복숭아', '수박', '딸기', '사과', '귤']

In [111]:
#(9) fruits 리스트에서 "복숭아"를 제거하세요.
fruits.remove("복숭아")
print(fruits)

#문제 10 ~ 15

['수박', '딸기', '사과', '귤']

In [114]:
#(10)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성. 
# 취미는 2개 이상의 값을 넣는다..
d1=dict(name="강희돈", age=27, email='gmlehs0101@gmail.com', hobby=['travel', 'game'], marrige='no')

In [117]:
#(11) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.
print(d1['email'])

gmlehs0101@gmail.com

In [118]:
#(12) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.
print(d1['hobby'][1])

game

In [119]:
#(13) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.
d1['weight']='75kg'
d1['tall']='176cm'

In [120]:
#(14) 위 딕셔너리에서 나이를 제거하세요.
del d1['age']

In [122]:
#(15) 위 딕셔너리에서 email 주소를 다른 값으로 변경하세요.
d1['email']='gmlehs0101@naver.com'
print(d1)

{'name': '강희돈', 'email': 'gmlehs0101@naver.com', 'hobby': ['travel', 'game'], 'marrige': 'no', 'weight': '75kg', 'tall': '176cm'}