# 마크다운
- **셀 변환**
    1. m: code cell에서 markdown cell로 변환
    1. y: markdown cell에서 code cell로 변환

# 리스트
- 순서가 있는 자료구조
    - 원소들을 index로 관리한다.
- 생성
    - `l = [값, 값, 값, ..]`

In [3]:
l1 = [1, 2, 10, 30]
l2 = [10.7, 5, 'abc', True, None, 30,]

In [6]:
# 조회 : indexing/ slicing
# indexing
print(l1[0], l1[3])
print(l2[2], l2[4])

1 30
abc None

In [7]:
# 없는 index조회 => IndexError 에러 발생
l1[10]

IndexError: list index out of range

In [9]:
# index내의 원소 개수 조회
print('l1 원소개수:', len(l1))
print('l2 원소개수:', len(l2))

l1 원소개수: 4
l2 원소개수: 6

In [11]:
l2

[10.7, 5, 'abc', True, None, 30]

In [17]:
# slicing
print(l2[2:5])
print(l2[:3]) #0 ~ 2
print(l2[3:])
print(l2[::2])

['abc', True, None]
[10.7, 5, 'abc']
[True, None, 30]
[10.7, 'abc', None]

In [20]:
# 리스트는 원소를 변경할 수 있다. 변경->대입연산
l2[0] = 100
l2

[100, 5, 'abc', True, None, 30]

In [21]:
l2[4] = '가나다'
l2

[100, 5, 'abc', True, '가나다', 30]

In [23]:
# slicing을 이용하면 지정한 범위의 원소들을 한번에 바꿀 수있다.
l2[:3] = [1,2,3,4,5]  # 0 ~ 2 index의 값들을 1,2,3,4,5
l2

[1, 2, 3, 4, 5, True, '가나다', 30]

In [24]:
l2[2:5] = []  #특정 범위의 원소들을 삭제
l2

[1, 2, True, '가나다', 30]

In [25]:
del l2[0]  #하나의 원소만 삭제: del 명령어 사용.
l2

[2, True, '가나다', 30]

**리스트를 포함한 자료구조도 값이다.**
- 리스트(자료구조)에 다른 자료구조들을 원소로 추가할 수 있다.

In [27]:
l3 = [[1,2], [3,4], [5,6]]

In [29]:
l4 = l3[0]
l4

[1, 2]

In [30]:
l4[1]

2

In [34]:
print(l3[0][1])
print(l3[2][0])

2
5

In [36]:
l4 = [
        [
            [1,2], [3,4],[5,6]
        ],
        [
            [10,20], [30,40], [50, 60]
        ]
]

In [40]:
l4[0][1][1]

4

In [43]:
l4[1][2][1]

60

### 리스트 연산자
- 리스트 + 리스트 : 두 리스트를 합친 새로운 리스트 반환
- 리스트 * 정수 : 리스트를 정수만큼 반복해서 합친 새로운 리스트를 반환
- 값 in 리스트, 값 not in 리스트 : 리스트안에 값이 있는지(in), 없는지(not in) bool 값으로 반환

In [44]:
l1 = [1, 2, 3]
l2 = [10, 20, 30]
l3 = l1 + l2
print(l3)

[1, 2, 3, 10, 20, 30]

In [46]:
l4 = l1 * 3
l4

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [54]:
l1 + l2 + l3 + l4

[1, 2, 3, 10, 20, 30, 1, 2, 3, 10, 20, 30, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [49]:
10 in l1
1 in l1

True

In [51]:
10 not in l1
1 not in l1

False

### 리스트 대입
여러개의 변수에 리스트의 값들을 한번에 대입

In [53]:
a, b, c = [1, 2, 3]  #변수와 리스트원소의 개수가 같아야 한다.
print(a, b, c)
print(a+b+c)

1 2 3
6

In [ ]:
a, b, c = 10,20,30 #튜플 대입

### 주요 함수

In [57]:
print("원소개수:", len(l1))

원소개수: 3

In [64]:
l1.append(10)   #list.append(추가할값)
l1

[1, 2, 3, 10, 10, 10, 10, 10, 10]

In [65]:
l1.append(20)
l1

[1, 2, 3, 10, 10, 10, 10, 10, 10, 20]

In [66]:
l1.extend([3,4,5]) # l1 리스트에 추가
l1

[1, 2, 3, 10, 10, 10, 10, 10, 10, 20, 3, 4, 5]

In [67]:
l1 + [30,40,50]  # l1과 [30,40,50] 을 합친 새로운 리스트가 반환 (l1은 안바뀐다.)

[1, 2, 3, 10, 10, 10, 10, 10, 10, 20, 3, 4, 5, 30, 40, 50]

In [68]:
l1

[1, 2, 3, 10, 10, 10, 10, 10, 10, 20, 3, 4, 5]

In [73]:
# 정렬 - sorted(리스트): 원본 리스트를 변경하지 않고 정렬한 새로운 리스트를 반환. 
sorted(l1) #오름차순
sorted(l1, reverse=True) # 내림차순
l2 = sorted(l1)
l2

[1, 2, 3, 3, 4, 5, 10, 10, 10, 10, 10, 10, 20]

In [74]:
l1

[1, 2, 3, 10, 10, 10, 10, 10, 10, 20, 3, 4, 5]

In [77]:
# 정렬 - 리스트.sort() - 원본 리스트 자체를 정렬한다.
l1.sort()
l1

[1, 2, 3, 3, 4, 5, 10, 10, 10, 10, 10, 10, 20]

In [78]:
l1.sort(reverse=True) #내림차순
l1

[20, 10, 10, 10, 10, 10, 10, 5, 4, 3, 3, 2, 1]

In [80]:
l1.insert(3, '가나다') # index 3에 '가나다' 를 삽입
l1

[20, 10, 10, '가나다', 10, 10, 10, 10, 5, 4, 3, 3, 2, 1]

In [81]:
# index로 원소 삭제 : del
del l1[0]
l1

[10, 10, '가나다', 10, 10, 10, 10, 5, 4, 3, 3, 2, 1]

In [82]:
# 값으로 삭제
l1.remove('가나다')
l1

[10, 10, 10, 10, 10, 10, 5, 4, 3, 3, 2, 1]

In [83]:
l1.remove(10) #값이 여러개일 경우 첫번째 값만 삭제
l1

[10, 10, 10, 10, 10, 5, 4, 3, 3, 2, 1]

In [84]:
l1.count(10) #값 10이 몇 개인지

5

In [85]:
l1.clear() #모든 원소 다 삭제
l1

[]

# 튜플(Tuple)
- 리스트 처럼 순서가 있는 자료구조
    - index (양수, 음수) 로 원소를 관리
    - 원소를 변경할 수 없다. (추가, 삭제, 변경 이 안된다.)
- 생성

In [89]:
t1 = (1, 2, 3, 4, 5) #소괄호로 묶는다.
t2 = 10,20,30,40,50 # 소괄호 생략가능

In [90]:
t1

(1, 2, 3, 4, 5)

In [91]:
t2

(10, 20, 30, 40, 50)

In [92]:
t3 = 10, '가', True
t3

(10, '가', True)

In [95]:
t4 = (100)  #t4 = 100
t4, type(t4), type(t3)

(100, int, tuple)

In [98]:
t5 = (100,) #원소가 하나일 경우 뒤에 , 를 붙인다.
t6 = 100,
print(t5, t6)
print(type(t5), type(t6))

(100,) (100,)
<class 'tuple'> <class 'tuple'>

### 튜플대입

In [99]:
name, age, address = ('홍길동', 30, '서울')  #튜플 대입
print(name, age, address)
# name, age, address = ['홍길동', 30, '서울']  #리스트 대입

홍길동 30 서울

In [100]:
name, age, address = '홍길동1', 32, '서울1' #튜플 대입
print(name, age, address)

홍길동1 32 서울1

### indexing, slicing 
- 조회만 가능하고 원소를 변경할 수 없다.

In [101]:
t7 = 100, 4, 8, 20, 20, 1, 8
t7[0], t7[3], t7[6]

(100, 20, 8)

In [102]:
t7[0] = 40

TypeError: 'tuple' object does not support item assignment

In [103]:
t7[::2]

(100, 8, 20, 8)

In [104]:
t7[::-1]

(8, 1, 20, 20, 8, 4, 100)

In [105]:
t7[-3]

20

### 연산자

In [108]:
10 in t7
8 in t7

True

In [110]:
10 not in t7
8 not in t7

False

In [112]:
t1 + t2

(1, 2, 3, 4, 5, 10, 20, 30, 40, 50)

In [114]:
t1 * 2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [119]:
sorted_t7 = sorted(t7)
sorted_t7

[1, 4, 8, 8, 20, 20, 100]

In [120]:
t7

(100, 4, 8, 20, 20, 1, 8)

# 딕셔너리
- 데이터를 key:value 쌍(pair)로 모아서 관리하는 자료구조

In [122]:
# 생성
person1 = {"name":"홍길동", "age":20, "address":"서울"}
person2 = {"age":30, "name":"이순신", "address":"서울"}
person1

{'name': '홍길동', 'age': 20, 'address': '서울'}

In [125]:
# 값 조회
print(person1['name'], person2['name'])
print(person1['age'], person2['age'])

홍길동 이순신
20 30

In [127]:
# 값 변경
person1['name'] = '박철웅' #있는 key에 값을 대입하면 변경이 된다.
person1

{'name': '박철웅', 'age': 20, 'address': '서울'}

In [129]:
person1['tel'] = '010-111-2222'  #없는 key에 값을 대입하면 추가가 된다.
person1

{'name': '박철웅', 'age': 20, 'address': '서울', 'tel': '010-111-2222'}

In [131]:
person1['email'] # 없는 key로 조회하면 KeyError 발생

KeyError: 'email'

In [139]:
# dictionary.get('key') : 조회
# 없는 키값으로 조회하면 None(기본값). None대신 반환할 기본값을 설정할 수도 있다.
v = person2.get('email', "없음")
print(v)

30

In [142]:
len(person1), len(person2)

(4, 3)

In [144]:
person1

{'name': '박철웅', 'age': 20, 'address': '서울', 'tel': '010-111-2222'}

In [145]:
'박철웅' in person1

False

In [146]:
'name' in person1

True

### 주요 메소드

In [148]:
person1.pop('name')

'박철웅'

In [149]:
person1

{'age': 20, 'address': '서울', 'tel': '010-111-2222'}

In [151]:
del person1['age']
person1

{'address': '서울', 'tel': '010-111-2222'}

In [152]:
person1.items()

dict_items([('address', '서울'), ('tel', '010-111-2222')])

In [153]:
person1.keys()

dict_keys(['address', 'tel'])

In [154]:
person1.values()

dict_values(['서울', '010-111-2222'])

# Set(집합)
- 중복을 허용하지 않는 자료구조

In [161]:
s1 = {1, 1, 1, 2, 2, 2, 3, 3, 3, 'a', 'a', 'a', True, True, True, False, False}  # 1, True => True를 1로 취급, 0, False => False를 0으로 취급
s1

{1, 2, 3, False, 'a'}

In [163]:
s2 = {1, True}
s3 = {0, False}
print(s2)
print(s3)

{1}
{0}

In [165]:
s1[0] # set은 원소 하나를 조회하는 것은 안된다. => 반복문을 이용

TypeError: 'set' object is not subscriptable

### 연산자

In [168]:
1 in s1
100 in s1

False

In [170]:
1 not in s1
100 not in s1

True

In [176]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5}

# 합집합
s3 = s1 | s2  # {1, 2, 3, 4, 5}
s4 = s1.union(s2)
print(s3)
print(s4)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [177]:
# 교집합
s5 = s1 & s2
s6 = s1.intersection(s2)
print(s5, s6)

{3, 4} {3, 4}

In [179]:
# 차집합
s7 = s1 - s2
s8 = s1.difference(s2)
print(s7)
print(s8)

{1, 2}
{1, 2}

### 메소드

In [183]:
# 추가
s3.add(10)
print(s3)
s3.add(10) #있는 값을 추가하면 추가가 안됨(중복 허용 안하므로)
s3

{1, 2, 3, 4, 5, 10}

{1, 2, 3, 4, 5, 10}

In [186]:
s3.update([1,2,3,100,200,300,400])
s3

{1, 2, 3, 4, 5, 10, 100, 200, 300, 400}

In [187]:
v = s3.pop()
print(v)
s3

1

{2, 3, 4, 5, 10, 100, 200, 300, 400}

In [188]:
s3.remove(5)  # s3의 원소중 5를 삭제
s3

{2, 3, 4, 10, 100, 200, 300, 400}

In [189]:
s3.remove('가') #없는 값 삭제시 KeyError 발생.

KeyError: '가'

In [198]:
var1 = [] #빈 리스트
var2 = {} #빈 dictionary
type(var2)

dict

In [199]:
var2['a'] = 100
var2

{'a': 100}

# 자료구조 변환 함수
- list(자료구조): 자료구조를 List로 변환
- tuple(자료구조): 자료구조를 Tuple로 변환
- set(자료구조): 자료구조를 Set으로 변환
- Dictionary로 변환하는 함수는 없다.
- 변경할 대상 자료구조가 Dictionary 일 경우에는 key값들만 모아서 변환

In [201]:
t = 1, 2, 10, 5, 10, 2
l = list(t)
l, type(l)

([1, 2, 10, 5, 10, 2], list)

In [203]:
s = set(t)
s, type(s)

({1, 2, 5, 10}, set)

In [204]:
t1 = tuple([1,3,10,20,11]) #list->tuple
t1

(1, 3, 10, 20, 11)

In [205]:
d = {'a':10, 'b':20, 'c':30}
d

{'a': 10, 'b': 20, 'c': 30}

In [206]:
set(d) # dict -> set

{'a', 'b', 'c'}

In [207]:
list(d)

['a', 'b', 'c']

In [208]:
tuple(d)

('a', 'b', 'c')

In [209]:
# dict(key=value, key=value) dictionary를 쉽게 만들도록 도와주는 함수
d1 = dict(name='홍길동', age=20, address='부산')
d1

{'name': '홍길동', 'age': 20, 'address': '부산'}

# TODO - 4:30 
- control + shift + - : cell 나누기

In [212]:
# 1 ~ 7 문제
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85] 
len(jumsu)
# 위는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다. (문제 1 ~ 7)
#(1)  7번의 점수를 출력하세요 
jumsu[6]

80

In [213]:
#(2)  1번부터 5번까지의 점수를 출력하세요.
jumsu[:5]

[100, 90, 100, 80, 70]

In [214]:
#(3)  4, 5, 6, 7번의 점수를 출력하세요.
jumsu[3:7]

[80, 70, 100, 80]

In [216]:
#(4) 짝수번째 점수를 출력하세요.
jumsu[::2] # 짝수 index의 값들
jumsu[1::2]# 순서가 짝인 값들

[90, 80, 100, 90, 85]

In [218]:
#(5) 홀수번째 점수를 출력하세요.
jumsu[1::2] # 홀수 index
jumsu[::2]  # 순서가 홀수인 값들

[100, 100, 70, 80, 95]

In [220]:
#(6) 9번의 점수를 20으로 변경하고 전체 출력하세요.
print(jumsu)
jumsu[8] = 20  #jumsu[-2]
print(jumsu)

[100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [223]:
#(7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.
jumsu2 = set(jumsu)
unique_jumsu = list(jumsu2)
print(jumsu2)
print(unique_jumsu)
print(unique_jumsu[0])

{100, 70, 80, 20, 85, 90}
[100, 70, 80, 20, 85, 90]
100

In [229]:
# 문제 8 ~ 9
fruits = ["복숭아", "수박", "딸기"]

#(8) fruits 리스트에 마지막 원소로 "사과", "귤"을 추가하세요.
# fruits.append('사과') # 하나씩 추가
# fruits.append('귤')
fruits.extend(['사과', '귤'])
# fruits = fruits + ['사과', '귤']
fruits

['복숭아', '수박', '딸기', '사과', '귤']

In [231]:
#(9) fruits 리스트에서 "복숭아"를 제거하세요.
fruits.remove('복숭아') #값으로 삭제
fruits

['수박', '딸기', '사과', '귤']

In [232]:
del fruits[0] #index를 이용해서 삭제
fruits

['딸기', '사과', '귤']

In [234]:
#문제 10 ~ 15
#(10)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성. 
# 취미는 2개 이상의 값을 넣는다.
info = {
    "이름":"김성환",
    "나이":30, 
    "email":"kgmyh@naver.com", 
    '취미':["운동", "독서", "게임"], 
    "결혼유무":True
}
info2 = dict(이름='홍길동', 나이=10, email='a@a.com', 취미=['게임', '영화감상'], 결혼유무=True)

print(info)
print(info2)

{'이름': '김성환', '나이': 30, 'email': 'kgmyh@naver.com', '취미': ['운동', '독서', '게임'], '결혼유무': True}
{'이름': '홍길동', '나이': 10, 'email': 'a@a.com', '취미': ['게임', '영화감상'], '결혼유무': True}

In [235]:
#(11) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.
print(info['이름'], info['email'])

김성환 kgmyh@naver.com

In [237]:
#(12) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.
info['취미'][1]

'독서'

In [238]:
#(13) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.
info['몸무게']  = 70
info['키'] = 185
print(info)

{'이름': '김성환', '나이': 30, 'email': 'kgmyh@naver.com', '취미': ['운동', '독서', '게임'], '결혼유무': True, '몸무게': 70, '키': 185}

In [241]:
#(14) 위 딕셔너리에서 나이를 제거하세요.
# info['나이'] = 50
del info['나이']
info

{'이름': '김성환',
 'email': 'kgmyh@naver.com',
 '취미': ['운동', '독서', '게임'],
 '결혼유무': True,
 '몸무게': 70,
 '키': 185}

In [242]:
#(15) 위 딕셔너리에서 email 주소를 다른 값으로 변경하세요.
info['email'] = 'kgmyh@gmail.com'
info

{'이름': '김성환',
 'email': 'kgmyh@gmail.com',
 '취미': ['운동', '독서', '게임'],
 '결혼유무': True,
 '몸무게': 70,
 '키': 185}