# 제어문
    - code의 흐름을 제어하는 구문

# 조건문 (분기문)

In [49]:
num = int(input("정수:"))
if num==0:
    print("0입니다")
elif num > 0:
    print('양수입니다')
    print(f'입력한 숫자는 {num}입니다.')
elif num < 0:
    print('음수입니다')
    print(f'입력한 숫자는 {num}입니다.')
print('종료합니다')

정수:d

ValueError: invalid literal for int() with base 10: 'd'

In [ ]:
# num이 0이상이면 "양수입니다."를 출력하고 100 초과이면 "100보다 큽니다."출력
if num >= 0:
    print('양수입니다.')
    if num > 100:
        print('100보다 큽니다')

## 반복문
### while문
- 조건이 True일때 계속 반복

In [ ]:
limit = int(input('반복횟수:'))
count = 0
while count < limit:
    count = count + 1
    print(count)
print('완료')

### for문
- iterable(자료구조, 문자열 등)이 가지고 있는 값을 순환조회할때 사용

In [ ]:
# for 변수 in iterable:
# for in 구문은 iterable의 원소를 하나씩 처리하는 코드

In [ ]:
for v in (10, 20, 30, 40):
 #   print(v)
    print(v, end=',')
print('종료')

In [ ]:
for v in {1,2,3,4,4,4,2,2,3,2,1,}:
    print(v)
print('종료')

In [ ]:
for v in dict(name='홍길동', age=20, address='서울'):
    print(v)

## continue, break
- continue : 다음 반복을 실행해라
- break : 반복을 멈춰라

In [ ]:
while True:
    a=input()
    print('입력한 문자열 :', a)
    if a == 'q!':
        break

## for in 문 관련 함수
- range()
    - 특정값만큼 증감하는 연속된 숫자를 제공하는 iterable타입을 생성

In [ ]:
#range(시작숫자, 끝숫자, 증감체)
#생성된 값이 필요할 때 제공
a=range(10, 100, 10)
for i in a:
    print(i)

In [54]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [57]:
for _ in range(10):
    print('absf')

absf
absf
absf
absf
absf
absf
absf
absf
absf
absf

- enumerate()
    - 튜플로 (몇번째반복, 값) 묶어서 반환

In [60]:
lst=[5,7,4,6,10,141]
for i in enumerate(lst):
    print(i)

(0, 5)
(1, 7)
(2, 4)
(3, 6)
(4, 10)
(5, 141)

In [68]:
for i in enumerate(lst, start=1):
    print(i,f'순번:{i[0]},값:{i[1]}')

(1, 5) 순번:1,값:5
(2, 7) 순번:2,값:7
(3, 4) 순번:3,값:4
(4, 6) 순번:4,값:6
(5, 10) 순번:5,값:10
(6, 141) 순번:6,값:141

In [65]:
for idx, value in enumerate(lst, start=1):
    print(f"{idx}.{value}")

1.5
2.7
3.4
4.6
5.10
6.141

- zip (자료구조1, 자료구조2,...) : 같은 index의 값들을 묶어서 반환

In [116]:
names = ['홍길동', '이순신', '강감찬']
ages = [10,20,30]
address = ['서울', '인천', '수원']

In [117]:
for i in zip(names, ages, address):
    print(i)

('홍길동', 10, '서울')
('이순신', 20, '인천')
('강감찬', 30, '수원')

In [118]:
for names, ages, address in zip(names, ages, address):
    print(names, ages, address)

홍길동 10 서울
이순신 20 인천
강감찬 30 수원

## 컴프리헨션

In [90]:
a=(1,2,3)
print(a)

(1, 2, 3)

In [92]:
l1=[1,2,3,4,5]
#l1의 원소들을 5배한 값들로 구성된 리스트를 생성
new_list=[]
for i in l1:
    new_list.append(i*5)
    
print(new_list)

[5, 10, 15, 20, 25]

In [96]:
new_list2 = [i*5 for i in l1] # 리스트 컴프리헨션

In [97]:
print(new_list2)

[5, 10, 15, 20, 25]

In [99]:
new_set={i*5 for i in l1} #셋 컴프리헨션
print(new_set)

{5, 10, 15, 20, 25}

In [107]:
new_dict = {key:value for key, value in enumerate(l1, start=100)}
print(new_dict) #딕셔너리 컴프리헨션

{100: 1, 101: 2, 102: 3, 103: 4, 104: 5}

In [109]:
for i,v in enumerate(l1, start=100):
    print(i,v)

100 1
101 2
102 3
103 4
104 5

In [119]:
print('홍길동', 20, '서울')

홍길동 20 서울

In [124]:
s = ['a','b','c','abc']
s2=[i.upper() for i in s]
print(s2)

['A', 'B', 'C', 'ABC']

In [125]:
s3={key:value for key,value in enumerate(s, start=1)}
s3

{1: 'a', 2: 'b', 3: 'c', 4: 'abc'}

In [132]:
s = ['a','b','c','abc','def','g','ak','tdg']
# s의 원소중 글자수가 1글자인 원소만 소문자를 대문자로 바꾼 값을 가진 배열
s2=[]
for v in s:
    if len(v)==1:
        s2.append(v.upper())
print(s2)

['A', 'B', 'C', 'G']

In [133]:
[v.upper() for v in s if len(v)==1]

['A', 'B', 'C', 'G']

In [ ]:
# 자료구조 내부 원소를 수정해서 새로 만드는것은 mapping, 자료구조 내부 원소중 조건을 충족하는것만 뽑아 만드는것은 filtering

In [ ]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   :  F학점

In [200]:
#(2) 사용자로 부터 ID를 입력 받은 뒤 입력받은 ID가 5글자 이상이면 "사용할 수 있습니다."를 5글자 미만이면 "사용할 수 없는 ID입니다."를 출력하세요.
a2=input('id입력:')
if len(a2)<5:
    print('사용할 수 없는 id입니다.')
else:
    print('사용 할 수 있습니다')

id입력:도291ㄹ1ㅜ1
사용 할 수 있습니다

In [139]:
#(3) 사용자로부터 우리나라 도시명을 입력 받은 뒤 입력받은 도시명이 서울이면 "특별시"를 인천,부산,광주,대구,대전,울산 이면 "광역시"를 나머지는 "특별시나 광역시가 아닙니다."를 출력하세요.
a3 = input('도시명:')
if a3=='서울':
    print('특별시')
elif a3=='인천':
    print('광역시')
elif a3=='부산':
    print('광역시')
elif a3=='광주':
    print('광역시')
elif a3=='대구':
    print('광역시')
elif a3=='대전':
    print('광역시')
elif a3=='울산':
    print('광역시')
else:
    print('특별시나 광역시가 아닙니다')

도시명:인천
광역시

In [152]:
#(4) 아래 리스트의 평균을 구하시오. 
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
z=0
for i in jumsu:
    z+=i
print(z/len(jumsu))
a4=z/len(jumsu)

89.0

In [207]:
#(5) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)
#s3={key:value for key,value in enumerate(s, start=1)}
#a5={str(key)+'-pass':value for key,value in enumerate(jumsu) if value>=a4}
#a5_2={str(key)+'-fail':value for key,value in enumerate(jumsu) if value<a4}
for idx,i in enumerate(jumsu):
    if i>=a4:
        print(f'{idx}-pass')
    else:
        print(f'{idx}-fail')

0-pass
1-pass
2-pass
3-fail
4-fail
5-pass
6-fail
7-pass
8-pass
9-fail

In [209]:
#(6) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]
a6=0
for i in jumsu:
    if i>a6:
        a6=i
    else:
        continue
print(a6)
a7=max(jumsu)
print(a7)

95
95

In [213]:
#(8) 다음 리스트 중에서 "쥐"와 "토끼" 제외한 나머지를 출력하세요.
str_list = ["쥐", "소", "호랑이", "토끼", "용", "뱀"]
for i in str_list:
    if i in ['쥐','토끼']:
        continue
    else:
        print(i)

소
호랑이
용
뱀

In [172]:
 #(10) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]
a10=[i*2 for i in lst]
print(a10)

[20, 60, 140, 10, 240, 1400, 2, 70]

In [173]:
#컴프리헨션
#(11) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플 묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]
a11 = [(i,i*10) for i in lst]
print(a11)

[(10, 100), (30, 300), (70, 700), (5, 50), (5, 50), (120, 1200), (700, 7000), (1, 10), (35, 350), (35, 350)]

In [186]:
#(12) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]
a12 = [i for i in lst2 if i%3 == 0]
print(a12)

[3, 33, 21, 33, 60, 120]

In [181]:
#(13) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]
a13 = [i for i in file_name if i.endswith('exe')==True]
print(a13)

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [183]:
#(14) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]
a14 = [i for i in file_name if len(i)>=10]
print(a14)

['mystroy.txt', 'jupyter.bat', 'function.exe']

In [185]:
#(15) 다음 리스트에서 소문자만 가지는 새로운 리스트를 만드시오.
str_list = ["A", "B", "c", "D", "E", "F", "g", "h", "I", "J", "k"]
a15 = [i for i in str_list if i.islower()==True]
print(a15)

['c', 'g', 'h', 'k']

In [195]:
#(3) 사용자로부터 우리나라 도시명을 입력 받은 뒤 입력받은 도시명이 서울이면 "특별시"를 인천,부산,광주,대구,대전,울산 이면 "광역시"를 나머지는 "특별시나 광역시가 아닙니다."를 출력하세요.
a3 = input('도시명:')
if a3=='서울':
    print('특별시')
elif a3=='인천'or'부산'or'광주'or'대전'or'대구'or'울산':
    print('광역시')
else:
    print('특별시나 광역시가 아닙니다')

도시명:대전
광역시